.package {
  float: left;
  width: 29.33%;
  margin: 1%;
  padding: 1%;
  background-color: #eee;
  text-align: center;
}

.content {
  padding: 0.625rem;
  background-color: #888;
  clear: both;
  margin-top: 4.68rem;
  cursor: pointer;
}

.packages::after {
  content: "";
  clear: both;
  display: block;
}